@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

html, body {
  min-height: 100%;
}

/* Ensure background color matches theme to hide layout glitches */
html {
  background-color: #f9fafb; /* gray-50 */
}
html.dark {
  background-color: #020617; /* slate-950 */
}
